<link rel="stylesheet" href="/css/home.css" type="text/css">
<aside id="self-profile-sec">
    <div id="self-profile">

    </div>
</aside>
<main>
    <div id="post-container">
        <div id="post-input">
            <img><input type="text">
        </div>
        <div id="upload-options">

        </div>
    </div>
    <hr>
</main>
<aside id="suggested-freinds">
    <!-- TODO: ADD FRIENDS DYNAMICALLY -->
</aside>